# Version control
.git
.gitignore

# Exclude IDE/editor directories and files
.idea
.vscode

# Exclude Node.js dependencies (they will be installed in the container)
node_modules

# Exclude build output directories
.next

# environment files
.env*

# database
prisma

# Exclude docker and kubernetes-related files
Dockerfile
.dockerignore
.kube

# Documentation
README.md

# Other directories and files
temporary
*.drawio
*.drawio.bkp
