# ---------- Frontend ----------
APP_ENV=Development

# ---------- static ----------
DB_PROTOCOL=postgresql
DB_PORT=5432

# ---------- app credentials ----------
DB_USER=app-user
# plaintext for reference only; don't use directly in URLs
DB_PASSWORD=changeme
# URL-encoded for DATABASE_URL
DB_PASSWORD_ENC=changeme-url-encoded

# ---------- cluster addressing ----------
DB_CLUSTER=crunchy-postgres
DB_NAMESPACE=a6d989-dev

# For local port-forward
DB_HOST=127.0.0.1

# ---------- database ----------
DB_NAME=crunchy-postgres

DATABASE_URL="${DB_PROTOCOL}://${DB_USER}:${DB_PASSWORD_ENC}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
